FLASK_ENV=production
SECRET_KEY=change_this_secret
ADMIN_PASSWORD=change_me

TEAMS_WEBHOOK_URL=

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=
EMAIL_PASSWORD=
ALERT_EMAIL_TO=

APP_PORT=5001
FREE_SHIPPING_THRESHOLD=100000
